body {
	font-family: Baskerville;
	background-color: #f2f6f9;
}

header {
	text-align: center;
	line-height: 13px;
	font-size: 40px;
}

nav {
	text-align: center;
	margin: 0 auto;
	background-color: rgba(100, 100, 100, 0.5);
}

section {
	width: 49%;
	height: 500px;
	text-align: center;
	border: 2px solid;
	margin-right: 2px;
	margin-left: 2px;
}

table {
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
}

div {
	margin: 5px 5px 5px 5px;
}

.change-nav-off {
	display: none;
}

.change-nav-on {
	display: inline;
}

.left-panel {
	float: left;
}

.right-panel {
	float: right;
	height: 542px;
}

.nav-guide {
	display: none;
}

.name-form {
	margin: 0 auto;
}

.finished-spec {
	width: 48%;
	float: left;
}

.unfinished-spec {
	width: 48%;
	float: right;
}

.spec-team {
	text-align: center;
}

.nav-tabs {
	display: inline;
	padding: 10px;
}

#name-tag {
	height: 40px;
	margin-bottom: 2px;
	padding-top: 5px;
}

#name-in {
	margin-bottom: 5px;
}

#home-nav-ul {
  padding: 10px;
}

.nav-tabs:hover {
	background-color: rgba(75, 75, 75, 0.5);
}

.nav-tabs {
  display: inline;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  margin: 0 4%;
  font-size: 20px;
}

#db-description {
	text-align: center;
}